@import "tailwindcss";

@theme {
  
  --color-background: #fff;
  --color-background-dark: #121212;
  --color-bg-full: #1C1B22;

  --color-text: #1a1a1a;
  --color-text-dark: #eee;

  --color-primary: #2563eb;
  --color-primary-dark: #3b82f6;
}

